<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.umbrella.mapper.CenterMapper">
    <select id="getAllCenter" resultType="com.example.umbrella.dto.CenterDto">
        SELECT * FROM member A RIGHT JOIN center B ON A.id = B.regId
    </select>
    <select id="getCenter" parameterType="string" resultType="com.example.umbrella.dto.CenterDto">
        SELECT * FROM member A RIGHT JOIN center B ON A.id = B.regId WHERE centercode = #{centercode}
    </select>
    <update id="updateCenter" parameterType="com.example.umbrella.dto.CenterDto">
        UPDATE center A RIGHT JOIN member B ON B.id = A.regId SET B.pw = #{pw}, B.name = #{name}, B.phone = #{phone}, A.centerAddr = #{centerAddr} WHERE A.centercode = #{centercode} AND B.id = #{id}
    </update>
    <select id="findRegId" parameterType="String">
        SELECT regId from center WHERE centercode = #{centercode}
    </select>
    <delete id="deleteCenter" parameterType="String">
        DELETE FROM center WHERE regId = #{regId}
    </delete>

</mapper>