<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.umbrella.mapper.MemberMapper">

    <!--관리자 등록 여부 확인-->
    <select id="firstAdmin" resultType="int">
        select count(*) from member where level = 2
    </select>

    <!--정보 조회-->
    <select id="memberLogin" resultType="com.example.umbrella.dto.MemberDto">
        select * from member where id = #{id}
    </select>

    <!-- 정보 생성 -->
    <insert id="createMember" parameterType="com.example.umbrella.dto.MemberDto" useGeneratedKeys="true"
            keyProperty="id">
        insert into member (id, pw, name, phone, level) values (
        #{id}, #{pw}, #{name}, #{phone}, #{level})
    </insert>

    <!--아이디 중복검사-->
    <select id="idCheck" resultType="int">
        select count(*) from member where id = #{id}
    </select>

    <!-- 회원가입(앱) -->
    <insert id="joinUser" parameterType="com.example.umbrella.dto.MemberDto" useGeneratedKeys="true"
            keyProperty="id">
        insert into member (id, pw, name, phone) values (
        #{id}, #{pw}, #{name}, #{phone})
    </insert>
    
    <!--비밀번호 변경(앱)-->
    <update id="pwUpdate">
        update member set pw = #{pw} where id = #{id}
    </update>

    <!-- center 테이블에 정보 등록 -->
    <insert id="createCenter" parameterType="com.example.umbrella.dto.CenterDto">
        insert into center (centercode, centerAddr, regId) values (#{centercode}, #{centerAddr}, #{regId})
    </insert>

    <delete id="deleteMember" parameterType="String">
        DELETE FROM member WHERE id = #{id}
    </delete>
</mapper>