<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.umbrella.mapper.ReturnBoxMapper">

    <select id="getAllReturnBox" resultType="com.example.umbrella.dto.ReturnBoxDto">
       select * from ReturnBox
    </select>
    <select id="countReturnBox" parameterType="String" resultType="int">
        SELECT count(*) FROM returnBox WHERE centercode = #{centercode}
    </select>
    <select id="getAllReturnBoxCode" parameterType="String" resultType="String">
        SELECT returnBoxCode FROM returnBox WHERE centercode = #{centercode}
    </select>
    <delete id="deleteReturnBoxDetail" parameterType="String">
        DELETE FROM reuturnBoxDetail WHERE returnBoxCode = #{returnBoxCode}
    </delete>
    <delete id="deleteReturnBox" parameterType="String">
        DELETE FROM returnBox WHERE centercode = #{centercode}
    </delete>

</mapper>