<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.umbrella.mapper.UmbrellaMapper">

    <select id="getUmbrellaList" resultType="com.example.umbrella.dto.UmbrellaDto">
        select u.umbrellacode,price,rentalId,photo,rentalStatus,rentalTime,returnTime from umbrella u join lockerdetail l on u.umbrellacode = l.umbrellacode where l.lockercode = #{lockercode}
    </select>
    <select id="countUmbrella" parameterType="int" resultType="int">
        SELECT count(*) FROM umbrella WHERE umbrellacode = #{umbrellacode}
    </select>

    <update id="rentalUmbrella" parameterType="hashMap">
        update umbrella set rentalId = #{rentalId}, rentalStatus = #{rentalStatus}, rentalTime = #{rentalTime}, returnTime = #{returnTime} where umbrellacode=#{umbrella_code}
    </update>

    <select id="getMyRentalUmbList" parameterType="hashMap" resultType="com.example.umbrella.dto.UmbrellaDto">
        select * from umbrella where rentalId = #{rentalId} and rentalStatus = #{rentalStatus};
    </select>

</mapper>