<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UmbrellaMain</title>
   </head>
<div style="width: 83%; height: 90vh; position: relative;">
    <table id="lockerListTable" class="table table-bordered">
        <thead>
        <tr>
            <th>CODE</th>
            <th>보관함 주소</th>
            <th>주소 수정</th>
            <th>삭제</th>
        </tr>
        </thead>
    </table>
    <div class="modal"><div id="update_modal"></div></div>
</div>
<script th:inline="javascript">
    $(document).ready(function () {
        var table = $("#lockerListTable").DataTable();
        table.destroy();

        $.ajax({
            url: "/getLockerList",
            type: "POST",
            data: "id=aa",
            success: function (data) {
                var dataTable = $("#lockerListTable").DataTable({
                    data: data,
                    columns: [
                        {
                            title: 'lockercode',
                            data: 'lockercode',
                            render: function (data) {
                                return '<a class="lockercode" onclick="goLockerDetailGET(\'' + data + '\')">'+data+'</a>'
                            }
                        },
                        { data: 'lockerAddr' },
                        {
                            title: "주소 수정",
                            data: 'lockercode',
                            render: function (data) {
                                return '<button onclick="updateLockerHTML(\'' + data + '\')">수정</button>'
                            }
                        },
                        {
                            title: "삭제",
                            data: 'lockercode',
                            render: function (data) {
                                return '<button onclick="deleteLocker(\'' + data + '\')">삭제</button>'
                            }
                        }
                    ]
                });
            },
            error: function (request, status, error) {
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }



        });
    });


    function updateLockerHTML(lockercode) {
            $.ajax({
                type: 'POST',
                url: '/update-locker-html',
                data: { lockercode: lockercode },
                success: function (data) {

                    //모달 부분 html

                    $('#update_modal').html(`
                    <div><label>보관함 CODE</label><input name="lockercode" type="text" value="${data.lockercode}" disabled></div>
                    <div><label>보관함 주소</label><input name="beforeAddr" type="text" value="${data.lockerAddr}" disabled><input type="button" value="주소변경" onclick="showPost()"></div>
                    <div class="daum_post"></div>
                    <div><input type="button" value="수정" onclick="updateLockerPOST()">
                    <input type="button" value="취소" onclick="updateCancle()"</div>
                    `);
                    $('.modal').css('display', 'block');

                },
                error: function (xhr, status, error) {
                    console.error("에러 발생:", error);
                }
            });
        }

       function showPost() {

        //주소 input html 부분

        $('.daum_post').html(`
            <input type="text" id="postcode" placeholder="우편번호">
            <input type="button" onclick="execDaumPostcode()" value="우편번호 찾기"><br>
            <input type="text" name="afterAddr1" id="address" placeholder="주소"><br>
            <input type="text" name="afterAddr2" id="detailAddress" placeholder="상세주소">
            <input type="text" id="extraAddress" placeholder="참고항목">

        `);
    }


    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {

                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수


                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                if(data.userSelectedType === 'R'){
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    document.getElementById("extraAddress").value = extraAddr;

                } else {
                    document.getElementById("extraAddress").value = '';
                }

                document.getElementById('postcode').value = data.zonecode;
                document.getElementById("address").value = addr;
                document.getElementById("detailAddress").focus();
            }
        }).open();
    }


    function updateLockerPOST() {

        var lockercode = $('input[name=lockercode]').val();
        var beforeAddr = $('input[name=beforeAddr]').val();
        var afterAddr1 = $('input[name=afterAddr1]').val();
        var afterAddr2 = $('input[name=afterAddr2]').val();
        var afterAddr = afterAddr1 + " " + afterAddr2;



        // 유효성 검사



            if (afterAddr1 === undefined || afterAddr1 === "" || afterAddr1 === null) {
                console.log("주소변경안함");
                $.ajax({
                    type: 'POST',
                    url: '/update-locker-post',
                    async: false,
                    data: { lockercode: lockercode, lockerAddr: beforeAddr },
                    success: function (data) {
                        alert("수정 완료되었습니다.");
                        $('#ajaxSection').html(data);
                    },
                    error: function (jqXHR, status, error) {
                        alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);

                    }

                });
            } else {
                console.log("주소변경");

                if (afterAddr1 !== null && afterAddr1 !== "") {
                    if (afterAddr2 === null || afterAddr2 === "") {
                        alert("변경할 보관함의 상세주소를 입력해주세요.");
                        return false;
                    }
                }
                $.ajax({
                    type: 'POST',
                    url: '/update-locker-post',
                    async: false,
                    data: { lockercode: lockercode, lockerAddr: afterAddr },
                    success: function (data) {
                        alert("수정 완료되었습니다.");
                        $('#ajaxSection').html(data);
                    },
                    error: function (jqXHR, status, error) {
                        alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);

                    }
                });
            }

    }




    function updateCancle(){
        $('.modal').css('display', 'none');
    }



    function deleteLocker(lockercode) {

            if (!confirm("삭제하시겠습니까?")) {
                return false;
            } else {
                $.ajax({
                        type: 'POST',
                        url: '/delete_locker_by_lockercode',
                        data: { lockercode: lockercode },
                        success: function (data) {
                            alert("삭제 완료되었습니다.");
                            $('#ajaxSection').html(data);
                        },
                        error: function (jqXHR, status, error) {
                            alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);

                        }
                    });
            }

    }

    function goLockerDetailGET(lockercode){
           $.ajax({
                        type: 'GET',
                        url: '/go_lockerDetail',
                        data: { lockercode: lockercode },
                        success: function (data) {
                            $('#ajaxSection').html(data);
                        },
                        error: function (jqXHR, status, error) {
                            alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);

                        }
           });
    }
</script>
</html>

