<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>우산의 집 로그인</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/login.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
<img class="wave" src="https://raw.githubusercontent.com/sefyudem/Responsive-Login-Form/master/img/wave.png">
<div class="container">
    <div class="img">
        <img src="https://raw.githubusercontent.com/sefyudem/Responsive-Login-Form/master/img/bg.svg">
    </div>
    <div class="login-content">
        <form id="login_form" method="post">
            <h2 class="title" style="margin-bottom: 60px;">우산의 집</h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <input type="text" class="input" name="id" placeholder="아이디" id="id_input">
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <input type="password" class="input" name="pw" placeholder="비밀번호" id="pw_input">
                </div>
            </div>
            <input type="button" class="btn" id="login_button" value="로그인" style="margin-top: 40px;">
        </form>
    </div>
</div>

<script th:inline="javascript">

        var result = [[${result}]];

		if (result == 0) {
			alert("비밀번호가 일치하지 않습니다.");
		} else if (result == 1) {
		    alert("아이디 또는 비밀번호가 일치하지 않습니다.");
		}


		/* 유효성 검사 통과유무 변수 */
        var idCheck = false; // 아이디
        var pwCheck = false; // 비밀번호

        $(document).ready(
                function() {
                    $("#login_button")
                            .click(
                                    function() {
                                        /* 입력값 변수 */
                                        var id = $('#id_input').val(); // 아이디 입력란
                                        var pw = $('#pw_input').val(); // 비밀번호 입력란

                                        /* 아이디 유효성검사 */
                                        if (id == "") {
                                            idCheck = false;
                                        } else {
                                            idCheck = true;
                                        }

                                        /* 비밀번호 유효성 검사 */
                                        if (pw == "") {
                                            pwCheck = false;
                                        } else {
                                            pwCheck = true;
                                        }

                                        /* 최종 유효성 검사 */
                                        if (idCheck && pwCheck) {
                                            $("#login_form").attr("action", "/login.do");
                                            $("#login_form").submit();
                                        } else {
                                            alert("아이디와 비밀번호를 모두 입력해 주세요.");
                                        }

                                        return false;
                                    });
                });
</script>
</body>
</html>